!./dartfrog_lib/target/wasm32-wasi/release/dartfrog_lib.wasm # don't ignore the obligatory squid-ink wasm file
**/*.tsbuildinfo
**/.DS_Store
**/.vscode
**/node_modules
**/target/
*.swo
*.swp
*.zip
.DS_Store
.vscode
/.vscode
*/process_env
*/target/
*/wasi_snapshot_preview1.wasm
*/wit/
curator/chrome_extension/dist
home/
node_modules/
package-lock.json
pkg/*.wasm
/target
yarn.lock
test/results/*
test-interactive/results/*
test-headless/results/*
**/*.wasm
.env
**/*.timestamp-*.mjs